body{
	background: url('img/ufo_1600x1200.jpg');
}
.profile{
	height:100px;
	width:100px;
}
.title{

}
#yolo{
	float: left;
} 
#right{
	float: right;
	width: 500px;
}
.bugeton{
	
}
.totalproof{
	visibility:hidden;
}